<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=Mongo Scraper%></title>

    <!-- Link to CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Link to bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .table-wrapper {
            margin-top: 50px;
        }

        .article-img {
            width: 40px;
            height: 40px
        }

        .add-article-form {
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <div class="page-wrapper">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand  mb-0 h1">
                <a href="/scrape" class="float-right" title="Add a new Articles">Add an Article</a>
        </nav>

        <!-- /* <img src="https://technewsinsight.com/wp-content/uploads/2017/06/tech-news-insights-logo-header-1.png? alt="technewsinsight">*/ -->
</body>

</html>