<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="active-menu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tech Gadgets Scraper</title>

    <!-- Link to bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Link to CSS -->
    <link rel="stylesheet" href="/public/assets/css/style.css">
</head>

<body>
    <% include ../partials/hearder %>
    <% include ../partials/menu %>

    <!-- <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-sm-4">
                <p>Test 1</p>

            </div>
            <div class="col-sm-4">
                <p>Test 2</p>
            </div>
            <div class="col-sm-4">
                <p>Test 3</p>
            </div>
        </div>
    </div> -->

    <div class="container main">
        <% for (var i = 0; i < 10; i++){%>
        <div class="thumbnail">
            <div class="row">
                <h1><%= results[i].title %></h1>
                <h3><%= results[i].summary %></h3>
                <div>
                    <!-- <a href="<%= results[i].link %>">more details</a> -->
                    <button class="save btn btn-lg btn-primary pull-right">Save Article</button>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    </div>

    <% include ../partials/script %>
    <% include ../partials/footer %>
</body>

</html>